/* Fonts */
@font-face {
    font-family: Regular;
    src: url(../fonts/Spartan-Regular.ttf);
    font-display: swap;
}

@font-face {
    font-family: Medium;
    src: url(../fonts/Spartan-Medium.ttf);
    font-display: swap;
}


@font-face {
    font-family: Bold;
    src: url(../fonts/Spartan-Bold.ttf);
    font-display: swap;
}

/* General Rules */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Regular;
}

.flex-center {
    display: flex;
    align-items: center;
}

/* Variables */
:root {
    /* colors */
    --main-color: #502050;
    --soft-pink: #ee68a4;
    --Dark-Grayish-Magenta: #937b92;
    --Light-Grayish-Magenta: #f7f2f7;
    --white: #fff;
}

/* End Varibles */

/* Start Main */

main {
    height: 100vh;
    background-color: var(--white);
    background-image: url(../images/bg-pattern-bottom-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}


main::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../images/bg-pattern-top-desktop.svg);
    background-repeat: no-repeat;
}

@media (max-width:992px) {
    main {
        background-image: none;
    }

    main::before {
        background-image: url(../images/bg-pattern-top-mobile.svg)
    }
}

main .container {
    position: relative;
    padding: 6.25rem 7.8125rem;
}

@media (max-width: 992px) {
    main .container {
        padding: 3.125rem 1.25rem;
    }
}

/* Start Content */

main .container .content {
    justify-content: space-between;
}

@media (max-width:992px) {
    main .container .content {
        flex-direction: column;
    }
}

/* Start Heading */

main .container .content .heading {
    width: 36%;
    justify-content: flex-start;
}

@media (max-width:992px) {
    main .container .content .heading {
        width: 100%;
        text-align: center;
    }
}

main .container .content .heading h1 {
    width: 90%;
    margin: 0;
    font-family: 'Bold';
    color: var(--main-color);
    font-size: 2.9rem;
    line-height: 1;
}

@media (max-width:992px) {
    main .container .content .heading h1 {
        width: 85%;
        margin: auto;
        font-size: 1.8rem;
    }
}

main .container .content .heading p {
    margin-top: .7rem;
    line-height: 1.5;
    color: var(--Dark-Grayish-Magenta);
    font-family: 'Medium';
    font-size: .9375rem;
}

@media (max-width:992px) {
    main .container .content .heading p {
        margin-top: 1.5rem;
    }
}

/* End Heading */

/* Start Rate */

main .container .content .rate {
    width: 56%;
}

@media (max-width: 992px) {
    main .container .content .rate {
        width: 100%;
        margin-top: 1.8rem;
        margin-bottom: 2.5rem;
    }
}

main .container .content .rate .box {
    width: 70%;
    min-width: 28.2rem;
    background-color: var(--Light-Grayish-Magenta);
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
}

main .container .content .rate .box:nth-child(2) {
    margin-left: 3.75rem;
}

main .container .content .rate .box:nth-child(3) {
    margin-left: 6.875rem;
}

@media (max-width:992px) {
    main .container .content .rate .box {
        width: 100%;
        min-width: auto;
        margin: 20px auto;
        flex-direction: column;
        text-align: center;
    }

    main .container .content .rate .box:nth-child(2),
    main .container .content .rate .box:nth-child(3) {
        margin-left: 0;
    }
}

main .container .content .rate .box .stars {
    margin-right: 30px;
}

@media (max-width:992px) {
    main .container .content .rate .box .stars {
        margin-right: 0;
        margin-bottom: 10px;
    }
}

main .container .content .rate .box .stars img:not(:last-child) {
    margin-right: 5px;
}

main .container .content .rate .box .text p {
    color: var(--main-color);
    font-family: 'Bold';
    font-size: .9375rem;
}

/* End Rate */

/* End Content */

/* Start Cards */

main .container .cards {
    justify-content: center;
}

@media (max-width: 950px) {
    main .container .cards {
        flex-direction: column;
        margin-top: 0;
    }
}

main .container .cards .card {
    max-height: 300px;
    flex-basis: 32%;
    padding: 30px;
    margin-right: 20px;
    border-radius: 8px;
    background-color: var(--main-color);
}

main .container .cards .card:nth-of-type(2) {
    margin-top: 40px;
}

main .container .cards .card:last-child {
    margin-right: 0;
    margin-top: 80px;
}

@media (max-width: 950px) {
    main .container .cards .card {
        margin: 0 auto 20px;
    }

    main .container .cards .card:nth-of-type(2),
    main .container .cards .card:last-child {
        margin-top: 0;
    }

}

main .container .cards .card .card__aside {
    margin-bottom: 1rem;
}

main .container .cards .card .card__aside .card__image {
    margin-right: 1.2rem;
}

main .container .cards .card .card__aside .card__image img {
    height: 2.2rem;
    border-radius: 50%;
}

main .container .cards .card__aside .card__header .card__title h2 {
    font-size: .8rem;
    font-family: 'Medium';
    color: var(--white);
}

main .container .cards .card__aside .card__header .card__subtitle h3 {
    margin-top: .4rem;
    font-size: .8rem;
    font-family: 'Medium';
    color: var(--soft-pink);
}

main .container .cards .card__body q {
    display: block;
    line-height: 1.6;
    font-size: .9375rem;
    color: var(--Light-Grayish-Magenta);
}

/* End Cards */

/* End Main */